.search-filter {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 30px;
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 75%;
    .select-media-type {
      width: 10%;
    }
    .search-input {
      width: 300px;
    }
    .search-btn {
      position: relative;
      right: 45px;
      top: 5px;
    }
  }
  /* TO DO 
    Add media queries for Responsive web design
  */
}
