.search-filter {
  margin: 40px 0px;
  position: relative;
  text-align: center;
  .flex-container {
    display: flex;
    justify-content: center;
    padding: 0% 20%;
    align-items: baseline;
    .select-media-type {
      width: 10%;
    }
    .search-input {
      width: 70%;
    }
    .search-btn {
      position: relative;
      right: 45px;
      top: 5px;
    }
  }
  .sort-rating-btn {
    position: absolute;
    top: 7px;
    right: 8%;
  }
}
