<section class="search-filter">
  <div class="flex-container">
    <!-- disabling below as imdp api is deprecated -->
    <!-- <v-select
      class="select-media-type"
      :items="items"
      label="Solo field"
      v-model="mediaType"
      solo
    ></v-select> -->
    <v-text-field
      class="search-input"
      label="Titles, people, genres"
      solo
      v-model="mediaSearchInput"
      @keydown.enter="searchMedia"
    ></v-text-field>
    <v-btn @click="searchMedia()" color="grey" icon class="search-btn">
      <v-icon>mdi-magnify</v-icon>
    </v-btn>
  </div>
  <!-- disabling below as api doesnt support -->
  <!-- <v-btn
    class="sort-rating-btn"
    outlined
    color="indigo"
    @click="sortByRating()"
    :disabled="isMediaListEmpty"
  >
    Sort by Ratings
  </v-btn> -->
  <v-btn
    class="sort-rating-btn"
    outlined
    color="indigo"
    @click="sortByYear()"
    :disabled="isMediaListEmpty"
  >
    Sort by Year
  </v-btn>
</section>
