<section class="app-footer">
  <div class="footer-container">
    <div class="footer-links">
      <a>Audio Description</a>
      <a>Help Centre</a>
      <a>Gift Cards</a>
      <a>Media Centre</a>
      <a>Investor Relations</a>
      <a>Jobs</a>
      <a>Terms of Use</a>
      <a>Privacy</a>
      <a>Legal Notices</a>
      <a>Cookie Preferences</a>
      <a>Corporate Information</a>
      <a>Contact Us</a>
    </div>
    <div class="footer-service">
      <button class="service-code">Service Code 2</button>
    </div>
    <div class="footer-copyright">
      <span>© 1997-2023 Mediaflix, Inc.‎</span>
    </div>
  </div>
</section>
