<section class="media-card">
  <img class="media-image" :src="mediaInfo.Poster" alt="Movie Image" />

  <div class="media-content">
    <div class="card-content text--primary">
      <p><span>Title : </span>{{mediaInfo.Title}}</p>
      <p><span>Year : </span>{{mediaInfo.Year}}</p>
      <p><span>Type : </span>{{mediaInfo.Type}}</p>
      <!-- <div>{{mediaInfo.description}}</div> -->
    </div>

    <!-- <div class="card-action"> -->
    <a @click="doWatchListOrRemove()">
      <i
        :class="{ 'red-text': isAlreadyInWatchlist, 'grey-text': !isAlreadyInWatchlist }"
        >favorite</i
      >
    </a>
    <!-- </div> -->
  </div>
</section>
